* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

#poster {
  background: url("../images/wvisual_bg.jpg");
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
  margin: 0px;
}
.login-container {
  border-radius: 15px;
  background-clip: padding-box;
  margin: 150px auto;
  width: 350px;
  padding: 35px 35px 15px 35px;
  background: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 25px #cac6c6;
}
.login_title {
  margin: 0px auto 40px auto;
  text-align: center;
  color: #505458;
}

.avatar {
  width: 120px;
  height: auto;
  display: inline-block;
}
.el-table .table-row {
  background-color: #222222;
  border-bottom: 1px solid #5c5c5c;
  cursor: pointer;
}
.el-table::before {
  height: 0px;
}
.el-table .table-cell {
  border-bottom: 1px solid #5c5c5c;
  color: white;
  text-align: center;
  font-size: 14px;
}
.el-table .table-cell-red {
  border-bottom: 1px solid #5c5c5c;
  color: #e60000;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.el-table .table-cell-green {
  border-bottom: 1px solid #5c5c5c;
  color: #26da6f;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.el-table .table-cell-gray {
  border-bottom: 1px solid #5c5c5c;
  color: #949fa5;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: transparent;
}
.el-table__body-wrapper::-webkit-scrollbar {
  /*width: 0;宽度为0隐藏*/
  width: 2px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 2px;
  height: 50px;
  background: #363636;
}
.el-table__body-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.4);
}
tr.active {
  background-color: #1061a6 !important;
}
