<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gis.application.mapper.VirusMapper">

    <!--&lt;!&ndash; 插入数据 &ndash;&gt;
    <insert id="insertVirus" parameterType="Virus" flushCache="true" timeout="20" useGeneratedKeys="true"
            keyProperty="id">
        insert into
        virus(public_time,lat,lng,country,province,city,district,new_diagnosis,new_recovery,new_death,location,description,image)
        values
        (#{publicTime},#{lat},#{lng},#{country},#{province},#{city},#{district},#{newDiagnosis},#{newRecovery},#{newDeath},ST_GeomFromText(#{location},
        4326),#{description},#{image})
    </insert>

    <update id="updateVirus" parameterType="Virus">
        update virus
        set public_time = #{publicTime},
        new_diagnosis = #{newDiagnosis},
        new_recovery=#{newRecovery},
        new_death=#{newDeath},
        country=#{country},
        province=#{province},
        city=#{city},
        description=#{description},
        image=#{image}
        where id=#{id}
    </update>

    <delete id="deleteVirus" parameterType="Integer">
        delete from virus where id=#{id}
    </delete>
    
    <update id="addImage" >
        update virus set image=#{image} where id=#{id}
    </update>-->

    <select id="getAllChinaConfirmedVirusByTimestamp" resultType="VirusConfirmed">
        select timestamp,
               confirmed,
               combined_key,
               ST_AsGeoJSON(location) as location
        from china_all
        where timestamp = #{timestamp}
          and confirmed > 0
    </select>
    <select id="getAllWorldConfirmedVirusByTimestamp" resultType="VirusConfirmed">
        select timestamp,
               confirmed,
               combined_key,
               ST_ASGEOJSON(location) as location
        from world_all
        where timestamp = #{timestamp}
          and confirmed > 0
    </select>
    <select id="getAllChinaRecoveredVirusByTimestamp" resultType="VirusRecovered">
        select timestamp,
               recovered,
               combined_key,
               ST_AsGeoJSON(location) as location
        from china_all
        where timestamp = #{timestamp}
          and recovered > 0
    </select>
    <select id="getAllWorldRecoveredVirusByTimestamp" resultType="VirusRecovered">
        select timestamp,
               recovered,
               combined_key,
               ST_ASGEOJSON(location) as location
        from world_all
        where timestamp = #{timestamp}
          and recovered > 0
    </select>
    <select id="getAllChinaDeathsVirusByTimestamp" resultType="VirusDeaths">
        select timestamp,
               deaths,
               combined_key,
               ST_AsGeoJSON(location) as location
        from china_all
        where timestamp = #{timestamp}
          and deaths > 0
    </select>
    <select id="getAllWorldDeathsVirusByTimestamp" resultType="VirusDeaths">
        select timestamp,
               deaths,
               combined_key,
               ST_ASGEOJSON(location) as location
        from world_all
        where timestamp = #{timestamp}
          and deaths > 0
    </select>
    <select id="getAllChinaActiveVirusByTimestamp" resultType="VirusActive">
        select timestamp,
               current_confirmed      as active,
               combined_key,
               ST_AsGeoJSON(location) as location
        from china_all
        where timestamp = #{timestamp}
          and current_confirmed > 0
    </select>
    <select id="getAllWorldActiveVirusByTimestamp" resultType="VirusActive">
        select timestamp,
               current_confirmed      as active,
               combined_key,
               ST_ASGEOJSON(location) as location
        from world_all
        where timestamp = #{timestamp}
          and current_confirmed > 0
    </select>
    <select id="getAllChinaDeathsRatioByTimestamp" resultType="VirusDeathsRatio">
        select timestamp,
               case_fatality_ratio    as ratio,
               combined_key,
               ST_AsGeoJSON(location) as location
        from china_all
        where timestamp = #{timestamp}
          and case_fatality_ratio > 0
    </select>
    <select id="getAllWorldDeathsRatioByTimestamp" resultType="VirusDeathsRatio">
        select timestamp,
               case_fatality_ratio    as ratio,
               combined_key,
               ST_ASGEOJSON(location) as location
        from world_all
        where timestamp = #{timestamp}
          and case_fatality_ratio > 0
    </select>
    <select id="getWorldNewIncreaseVirusData" resultType="VirusNewIncrease">
        select timestamp,
               sum(new_confirmed) as newConfirmed,
               sum(new_deaths)    as newDeaths,
               sum(new_recovered) as newRecovered
        from world
        group by timestamp;
    </select>

    <select id="getCountryNewIncreaseVirusData" resultType="VirusNewIncrease">
        select timestamp,
               sum(new_confirmed) as newConfirmed,
               sum(new_deaths)    as newDeaths,
               sum(new_recovered) as newRecovered
        from world
        where country = #{country}
        group by timestamp;
    </select>

    <select id="getProvinceNewIncreaseVirusData" resultType="VirusNewIncrease">
        select timestamp,
               sum(new_confirmed) as newConfirmed,
               sum(new_deaths)    as newDeaths,
               sum(new_recovered) as newRecovered
        from world_state
        where country = #{country}
          and province = #{state}
        group by timestamp;
    </select>

    <select id="getCityNewIncreaseVirusData" resultType="VirusNewIncrease">
        select timestamp,
               sum(new_confirmed) as newConfirmed,
               sum(new_deaths)    as newDeaths,
               sum(new_recovered) as newRecovered
        from world_county
        where country = #{country}
          and province = #{state}
          and city = #{county}
        group by timestamp;
    </select>

    <select id="getChinaProvinceNewIncreaseVirusData" resultType="VirusNewIncrease">
        select timestamp,
               sum(new_confirmed) as newConfirmed,
               sum(new_deaths)    as newDeaths,
               sum(new_recovered) as newRecovered
        from china_province
        where country = #{country}
          and province = #{province}
        group by timestamp;
    </select>

    <select id="getChinaCityNewIncreaseVirusData" resultType="VirusNewIncrease">
        select timestamp,
               sum(new_confirmed) as newConfirmed,
               sum(new_deaths)    as newDeaths,
               sum(new_recovered) as newRecovered
        from china_city
        where country = #{country}
          and province = #{province}
          and city = #{city}
        group by timestamp;
    </select>

    <select id="getWorldConfirmedRecoveredVirusData" resultType="VirusConfirmedRecovered">
        select timestamp,
               sum(current_confirmed) as currentConfirmed,
               sum(deaths)            as deaths,
               sum(recovered)         as recovered
        from world
        group by timestamp;
    </select>

    <select id="getCountryConfirmedRecoveredVirusData" resultType="VirusConfirmedRecovered">
        select timestamp,
               sum(current_confirmed) as currentConfirmed,
               sum(deaths)            as deaths,
               sum(recovered)         as recovered
        from world
        where country = #{country}
        group by timestamp;
    </select>

    <select id="getProvinceConfirmedRecoveredVirusData" resultType="VirusConfirmedRecovered">
        select timestamp,
               sum(current_confirmed) as currentConfirmed,
               sum(deaths)            as deaths,
               sum(recovered)         as recovered
        from world_state
        where country = #{country}
          and province = #{state}
        group by timestamp;
    </select>

    <select id="getCityConfirmedRecoveredVirusData" resultType="VirusConfirmedRecovered">
        select timestamp,
               sum(current_confirmed) as currentConfirmed,
               sum(deaths)            as deaths,
               sum(recovered)         as recovered
        from world_county
        where country = #{country}
          and province = #{state}
          and city = #{county}
        group by timestamp;
    </select>

    <select id="getChinaProvinceConfirmedRecoveredVirusData" resultType="VirusConfirmedRecovered">
        select timestamp,
               sum(current_confirmed) as currentConfirmed,
               sum(deaths)            as deaths,
               sum(recovered)         as recovered
        from china_province
        where country = #{country}
          and province = #{province}
        group by timestamp;
    </select>

    <select id="getChinaCityConfirmedRecoveredVirusData" resultType="VirusConfirmedRecovered">
        select timestamp,
               sum(current_confirmed) as currentConfirmed,
               sum(deaths)            as deaths,
               sum(recovered)         as recovered
        from china_city
        where country = #{country}
          and province = #{province}
          and city = #{city}
        group by timestamp;
    </select>
    <!-- 按时间戳获取世界每个国家的确诊数据 -->
    <select id="getWorldConfirmedVirusData" resultType="DailyVirus">
        select timestamp,
               confirmed as val,
               country   as combined_key
        from world
        where timestamp = #{timestamp}
          and confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取世界每个国家的治愈数据 -->
    <select id="getWorldRecoveredVirusData" resultType="DailyVirus">
        select timestamp,
               recovered as val,
               country   as combined_key
        from world
        where timestamp = #{timestamp}
          and recovered > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取世界每个国家的死亡数据 -->
    <select id="getWorldDeathsVirusData" resultType="DailyVirus">
        select timestamp,
               deaths  as val,
               country as combined_key
        from world
        where timestamp = #{timestamp}
          and deaths > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取世界每个国家的现存数据 -->
    <select id="getWorldActiveVirusData" resultType="DailyVirus">
        select timestamp,
               current_confirmed as val,
               country           as combined_key
        from world
        where timestamp = #{timestamp}
          and current_confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取世界每个国家的死亡率数据 -->
    <select id="getWorldDeathsRatioData" resultType="DeathsRatio">
        select timestamp,
               case_fatality_ratio as val,
               country             as combined_key
        from world
        where timestamp = #{timestamp}
          and case_fatality_ratio > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取国家每个省份的确诊数据（除中国） -->
    <select id="getCountryConfirmedVirusData" resultType="DailyVirus">
        select timestamp,
               confirmed as val,
               province  as combined_key
        from world_state
        where timestamp = #{timestamp}
          and country = #{country}
          and confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取国家每个省份的治愈数据（除中国）-->
    <select id="getCountryRecoveredVirusData" resultType="DailyVirus">
        select timestamp,
               recovered as val,
               province  as combined_key
        from world_state
        where timestamp = #{timestamp}
          and country = #{country}
          and recovered > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取国家每个省份的死亡数据（除中国） -->
    <select id="getCountryDeathsVirusData" resultType="DailyVirus">
        select timestamp,
               deaths   as val,
               province as combined_key
        from world_state
        where timestamp = #{timestamp}
          and country = #{country}
          and deaths > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取国家每个省份的现存数据（除中国） -->
    <select id="getCountryActiveVirusData" resultType="DailyVirus">
        select timestamp,
               current_confirmed as val,
               province          as combined_key
        from world_state
        where timestamp = #{timestamp}
          and country = #{country}
          and current_confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取国家每个省份的死亡率数据（除中国） -->
    <select id="getCountryDeathsRatioData" resultType="DeathsRatio">
        select timestamp,
               case_fatality_ratio as val,
               province            as combined_key
        from world_state
        where timestamp = #{timestamp}
          and country = #{country}
          and case_fatality_ratio > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国每个省份的确诊数据 -->
    <select id="getChinaConfirmedVirusData" resultType="DailyVirus">
        select timestamp,
               confirmed as val,
               province  as combined_key
        from china_province
        where timestamp = #{timestamp}
          and confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国每个省份的治愈数据-->
    <select id="getChinaRecoveredVirusData" resultType="DailyVirus">
        select timestamp,
               recovered as val,
               province  as combined_key
        from china_province
        where timestamp = #{timestamp}
          and recovered > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国每个省份的死亡数据 -->
    <select id="getChinaDeathsVirusData" resultType="DailyVirus">
        select timestamp,
               deaths   as val,
               province as combined_key
        from china_province
        where timestamp = #{timestamp}
          and deaths > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国每个省份的现存数据 -->
    <select id="getChinaActiveVirusData" resultType="DailyVirus">
        select timestamp,
               current_confirmed as val,
               province          as combined_key
        from china_province
        where timestamp = #{timestamp}
          and current_confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国每个省份的死亡率数据 -->
    <select id="getChinaDeathsRatioData" resultType="DeathsRatio">
        select timestamp,
               case_fatality_ratio as val,
               province            as combined_key
        from china_province
        where timestamp = #{timestamp}
          and case_fatality_ratio > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取省份每个城市的确诊数据（除中国） -->
    <select id="getProvinceConfirmedVirusData" resultType="DailyVirus">
        select timestamp,
               confirmed as val,
               city      as combined_key
        from world_county
        where timestamp = #{timestamp}
          and country = #{country}
          and province = #{province}
          and confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取省份每个城市的治愈数据（除中国）-->
    <select id="getProvinceRecoveredVirusData" resultType="DailyVirus">
        select timestamp,
               recovered as val,
               city      as combined_key
        from world_county
        where timestamp = #{timestamp}
          and country = #{country}
          and province = #{province}
          and recovered > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取省份每个城市的死亡数据（除中国） -->
    <select id="getProvinceDeathsVirusData" resultType="DailyVirus">
        select timestamp,
               deaths as val,
               city   as combined_key
        from world_county
        where timestamp = #{timestamp}
          and country = #{country}
          and province = #{province}
          and deaths > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取省份每个城市的现存数据（除中国） -->
    <select id="getProvinceDeathsActiveData" resultType="DailyVirus">
        select timestamp,
               current_confirmed as val,
               city              as combined_key
        from world_county
        where timestamp = #{timestamp}
          and country = #{country}
          and province = #{province}
          and current_confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取省份每个城市的死亡率数据（除中国） -->
    <select id="getProvinceDeathsRatioData" resultType="DeathsRatio">
        select timestamp,
               case_fatality_ratio as val,
               city                as combined_key
        from world_county
        where timestamp = #{timestamp}
          and country = #{country}
          and province = #{province}
          and case_fatality_ratio > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国省份每个城市的确诊数据 -->
    <select id="getChinaProvinceConfirmedVirusData" resultType="DailyVirus">
        select timestamp,
               confirmed as val,
               city      as combined_key
        from china_city
        where timestamp = #{timestamp}
          and province = #{province}
          and confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国省份每个城市的治愈数据-->
    <select id="getChinaProvinceRecoveredVirusData" resultType="DailyVirus">
        select timestamp,
               recovered as val,
               city      as combined_key
        from china_city
        where timestamp = #{timestamp}
          and province = #{province}
          and recovered > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国省份每个城市的死亡数据 -->
    <select id="getChinaProvinceDeathsVirusData" resultType="DailyVirus">
        select timestamp,
               deaths as val,
               city   as combined_key
        from china_city
        where timestamp = #{timestamp}
          and province = #{province}
          and deaths > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国省份每个城市的现存数据 -->
    <select id="getChinaProvinceActiveVirusData" resultType="DailyVirus">
        select timestamp,
               current_confirmed as val,
               city              as combined_key
        from china_city
        where timestamp = #{timestamp}
          and province = #{province}
          and current_confirmed > 0
        order by val desc;
    </select>
    <!-- 按时间戳获取中国省份每个城市的死亡率数据 -->
    <select id="getChinaProvinceDeathsRatioData" resultType="DeathsRatio">
        select timestamp,
               case_fatality_ratio as val,
               city                as combined_key
        from china_city
        where timestamp = #{timestamp}
          and province = #{province}
          and case_fatality_ratio > 0
        order by val desc;
    </select>
    <select id="getChinaProvinceConfirmedVirusByTimestamp" resultType="VirusConfirmed">
        select timestamp,
               confirmed,
               combined_key,
               location_code as location
        from china_province
        where timestamp = #{timestamp}
    </select>

    <select id="getChinaProvinceOnlyConfirmedVirusByTimestamp" resultType="VirusConfirmed">
        select timestamp,
               confirmed,
               combined_key,
               location_code as location
        from china_province
        where timestamp = #{timestamp}
          and province = #{province}
    </select>

    <select id="getChinaCityConfirmedVirusByTimestamp" resultType="VirusConfirmed">
        select timestamp,
               confirmed,
               combined_key,
               location_code as location
        from china_city
        where timestamp = #{timestamp}
          and province = #{province}
    </select>
</mapper>