<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gis.application.mapper.VirusMapper">

    <!-- 插入数据 -->
    <insert id="insertVirus" parameterType="Virus" flushCache="true" timeout="20" useGeneratedKeys="true"
            keyProperty="id">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT nextval('id_seq'::regclass)
        </selectKey>
        insert into
        virus(public_time,lat,lng,country,province,city,district,new_diagnosis,new_recovery,new_death,location)
        values
        (#{publicTime},#{lat},#{lng},#{country},#{province},#{city},#{district},#{newDiagnosis},#{newRecovery},#{newDeath},ST_GeomFromText(#{location},
        4326))
    </insert>

    <!--根据时间戳获得数据-->
    <select id="getVirusByTime" resultType="Map">
        select id,lat,lng,origin,new_diagnosis,new_recovery,new_death from virus where public_time = #{publicTime}
    </select>

    <!--获得所有数据-->
    <select id="getAllVirus" resultType="Map">
        select id,lat,lng,origin,new_diagnosis,new_recovery,new_death from virus
    </select>

    <!-- 更新数据 -->
    <update id="updateData">
        <include refid="com.gis.application.mapper.update.updateData"></include>
    </update>
</mapper>